@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Noto Sans KR';
    }
}

#root,
html,
body {
    min-height: 100%;
    height: 100%;
}

@layer components {
    .effect-none {
        box-shadow: none;
        backdrop-filter: none;
    }

    .effect-pureWhite {
        box-shadow: inset 0rem 0.625rem 3.125rem rgba(255, 255, 255, 0.5);

        backdrop-filter: blur(1.875rem);
    }

    .effect-whitePink {
        box-shadow: inset 0rem -0.375rem 1.875rem rgba(252, 114, 255, 0.2),
            inset 0rem 0.625rem 3.125rem rgba(255, 255, 255, 0.5),
            inset -0.5rem -0.3125rem 1.25rem rgba(255, 255, 255, 0.3);

        backdrop-filter: blur(1.875rem);
    }

    .effect-pink {
        box-shadow: inset 0rem -1.25rem 1.875rem rgba(255, 255, 255, 0.5),
            inset 0rem -2.5rem 1.875rem rgba(234, 69, 248, 0.6), inset 0rem -1.875rem 4.375rem rgba(181, 126, 188, 0.2),
            inset 0rem 0.625rem 3.125rem rgba(255, 255, 255, 0.5), inset 0rem 0.25rem 12.5rem rgba(255, 0, 199, 0.3),
            inset -0.3125rem -0.3125rem 1.25rem rgba(255, 255, 255, 0.3);

        backdrop-filter: blur(1.875rem);
    }

    .effect-purePink {
        box-shadow: 0.625rem -0.625rem 1.875rem rgba(255, 255, 255, 0.2),
            inset 0rem -1.25rem 1.875rem rgba(255, 255, 255, 0.5), inset 0rem -2.5rem 1.875rem rgba(234, 69, 248, 0.2),
            inset 0rem -1.875rem 4.375rem rgba(181, 126, 188, 0.2),
            inset 0rem 0.625rem 3.125rem rgba(255, 255, 255, 0.5), -30px 30px 50px rgba(156, 1, 103, 0.1),
            inset -0.3125rem -0.3125rem 1.25rem rgba(255, 255, 255, 0.3);

        backdrop-filter: blur(1.875rem);
    }

    .effect-hotPink {
        box-shadow: inset 0.1875rem -0.1875rem 1.25rem rgba(255, 255, 255, 0.7),
            inset -0.1875rem 0.1875rem 1.25rem rgba(255, 255, 255, 0.7),
            inset 0rem 0.25rem 6.25rem rgba(252, 86, 232, 1),
            inset -0.0625rem -0.0625rem 0.3125rem rgba(255, 255, 255, 0.3);

        backdrop-filter: blur(0.5rem);
    }

    .effect-indyBlue {
        box-shadow: -38px 38px 150px rgba(70, 57, 228, 0.15), inset 0px 7px 38px rgba(255, 255, 255, 0.5),
            inset 0px 3px 150px rgba(167, 162, 229, 0.2), inset -4px -4px 15px rgba(255, 255, 255, 0.3);

        backdrop-filter: blur(23px);
    }

    .effect-layout {
        box-shadow: 0.625rem -0.625rem 1.875rem rgba(255, 255, 255, 0.2),
            inset 0rem -1.25rem 1.875rem rgba(255, 255, 255, 0.5), inset 0rem 0.25rem 12.5rem rgba(251, 121, 222, 0.2),
            inset -0.3125rem -0.3125rem 1.25rem rgba(255, 255, 255, 0.3);

        backdrop-filter: blur(1rem);
    }

    .effect-layout-2 {
        box-shadow: 0.625rem -0.625rem 1.875rem rgba(255, 255, 255, 0.2),
            inset 0rem -1.25rem 1.875rem rgba(255, 255, 255, 0.15),
            inset 0rem 0.625rem 3.125rem rgba(255, 255, 255, 0.5), -1.875rem 1.875rem 3.125rem rgba(156, 1, 103, 0.1),
            inset 0rem 0.25rem 12.5rem rgba(251, 121, 222, 0.2),
            inset -0.3125rem -0.3125rem 1.25rem rgba(255, 255, 255, 0.2);

        backdrop-filter: blur(1rem);
    }
}
